/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 /* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
   grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center; 
    /* checked from inspect if the flex items are verticcally alligned or not */
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    padding-left: 16px;
    font-size: 18px;
}
/* --------------top blogs style ------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    padding-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course{
    width: 253px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star{
    font-size: 12px;
}
.fa-star.empty{
    color: #AEAEAE;
}

/* --------------
Media quiries
---------- */

/* Mobile Devices */

@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        
        flex-direction: column;
    }
    .blog {
        align-items: center;
    }
    .course{
        padding-left: 70px;
        margin-bottom: 30px;
    }
}

/* Tablet Devices */

@media only screen and (min-width: 688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        padding-left: 90px;
    }
    .blog, .course{
        padding-left: 30px;
        margin-right: 10px;
    }
    .courses{
        grid-template-columns: repeat(2, 1fr);
    }
}